:root {
  --border: 1px solid red;
  --font-x: 1rem;
  --font-xx: 1.5rem;
  --font-xxx: 2.5rem;
  --color: white;
}

* {
  /* background-color: black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */

}

html,
body {
  height: 100%;
}

body {
  /* height: 100%; */
  background-color: #0f172a;
  /* --color:#fff */
  color: var(--color);
  /* background: #020024; */
  /* background: linear-gradient(243deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
  display: flex;
  /* background-color:  rgba(0, 212, 255, 1); */
  flex-direction: column;
}

header {
  display: flex;
  text-align: center;
  padding: .825rem 3rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
    /* border: var(--border); */
    /* max-width: 1125px; */
}

.container {
  flex: 1;
  display: flex;
  padding: .5rem 0;
  justify-content: center;

  /* display: grid;
  grid-template-columns: 1fr minmax(400px, auto); */
}

.content,
.sidebar,
.current-info,
.hourly,
.hourly-item,
.sidebar-item {

  /* border: var(--border); */
}

.content {
  width: 100%;
}

.wrapper {
  max-width: 725px;

  margin-inline: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: .25rem;

}

.wrapper>* {

  width: 100%;

}

.current-info {
  display: flex;
  width: 100%;
  /* max-height: 50%; */
  /* background-color:  #dbeafe; */
  background-color: transparent;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  color: var(--color);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* align-items: center; */
  padding: .5rem 0;

}

/* .content>* {
  flex: 1
} */

.current-info>* {
  flex: 1
}

.curr-weather-svg {

  
 
}

.curr-weather-svg svg {
  max-width: 100%;
  height: auto;
  display:block;

}

.current-weather-txt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  font-size: var(--font-xx);
  font-weight: 400;
  /* text-align: end; */
}

.curr-temp {
  font-size: var(--font-xxx);
  font-weight: 800;
  /* align-self: flex-start; */
  /* text-align: center; */

}

/* .curr-humidity {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
} */

/* .current-svg svg {
  width: 30px;
} */

.hourly {
  width: 70%;
  height: calc(fit-content + .2rem);
  display: flex;
  overflow-x: hidden;
  width: 100%;
  /* flex: 1; */
  gap: 0.875rem;
  margin-top: 2rem;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  position: relative;
}

.hourly-card {
  display: grid;
  gap: 0.5rem;
  /* width:200px; */
  height: 100%;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  border-radius: 25px;

}

.hour-item {
  width: 100%;
  margin-inline: auto;
  /* outline: 1px solid red; */
}

.hourly-svg {
  display: block;
  width: 100%;
  height: auto;
}

.other-info {
  /* display: flex;
  flex-wrap: wrap; */
  display:grid;
  grid-template-columns: repeat(auto-fit,100px);
  gap: 1rem;
  justify-content: space-between;
}

.other-info svg {
  width: 3.125rem;
}

.other-item {
  display: grid;
  width:100%;
  text-align: center;
  /* justify-content: center; */

}

form {
  /* align-self: flex-end; */
  /* margin-left: auto; */
}

header>* {
  /* flex: 1; */
}

form {
  display: flex;
  gap: 0.875rem;
}

.input-wrapper{
   position: relative;
  display: inline-flex;
}

form input {
  /* background-color: transparent; */
  padding: 0.75rem;
  /* min-width: 25rem; */
  outline: transparent;
  border: 1px solid gray;
  border-radius: .8rem;
  font-size: 1rem;
  min-width: 2rem;
  padding-right: 3.5rem;
}

input:active {
  outline: 3px solid black;
}

.input-svg{
  background-color: transparent;
  outline: none;
  border: none;
    border-left: 1px solid gray;
  position: absolute;
  padding-inline: 0.5rem;
  top: 0.75rem;
  right: 10px;
  cursor: pointer;
}

.search-svg {
  stroke:greenyellow;
  cursor: pointer;

  width: 1.25rem;
  height: 1.25rem;
 
  /* fill: #888; */
}
.hide {
  border: 8px solid green;
  display: none;
}

.right-svg,
.left-svg {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  /* align-self: center; */
  bottom: 5px;
}

.right-svg {
  right: 10px;

}

.left-svg {
  left: 10px;

}

.nav-period {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-item {
  background-color: transparent;
  color: var(--color);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: fit-content;
  padding-block: .5rem;
}

.nav-item svg {
  width: 25px;
}

.nav-item:hover {
  border-bottom: 1px solid var(--color);

}

.active {
  border-bottom: 2px solid navajowhite;
}